.movie{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}

.filter-top{
    display: flex;
    flex-direction: row;
    justify-content: center;   
}

h2{
    font-size: 18px;
    border-style: none;
    border-radius: 20px;
    background-color: white;
    width: 300px;
    text-align: center;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
    margin-top: 20px;
  }


  .cards img{
    width: 150px;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
  }

  .nav-button{
    display: flex;
    justify-content: end;
    margin-top: 20px;
  }

  button{
    font-family: 'Holtwood One SC';
    background-color: white;
    border-radius: 20px;
    border-style: none;
    width: 170px;
    height: 30px;
  }