@font-face {
    font-family: 'Holtwood One SC';
    src: url('/assets/HoltwoodOneSC-Regular.ttf');
  }


.welcome-logo{
 display: flex;
 gap:20px;
 flex-direction: column;
 align-items: center;
 text-align: center;
 margin-top: 100px;
 margin-bottom: 30px;
 }

 .primary-logo{
  animation: spin 2s linear infinite;
 }

 @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
    font-family: 'Holtwood One SC';
    background-color: white;
    border-radius: 20px;
    width: 200px;
    border-style: none;
    height: 40px;
}