/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Holtwood One SC';
    src: url('./assets/HoltwoodOneSC-Regular.ttf');
  }

body{
    background-color: #FDE300;
    font-family: 'Holtwood One SC';
}